body {
    font-family: Arial, sans-serif;
    background-image: url('../static/images/coffee.jpg');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:70px;
    }
footer {
    background-color: #f0f0f0;
    padding: 5px;
    margin-top: auto;
    text-align: center;
    position: 490px;
    width: 100%;
}
