<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ka-Ching</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{% static 'payroll.css %'}">
	</head>
	<body>
		<header>
			<h1><a href="index.html">Payroll Application</a></h1>
		
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="irs.gov">Who is Taking Your Money?</a></li>
				<li><a href="thebudgetmom.com">Need Help With Budgeting?</a></li>
				<li><a href="reservations.html">Reservations</a></li>
			</ul>
		</nav>	
	</header>
	<div id="wrapper">
		<div id="homehero"></div>
	<main>
		<br>
		<h2>What can you do with your paycheck?</h2>
			<p>Pacific Trails Resort on the California North Coast offers panoramic views of the Pacific Ocean. Their guests experience an opulent camping adventure in sumptuously appointed private yurts featuring a gas fireplace, king-size bed, and private deck. However, to stay at Pacific Trails Resort, you need money. Without money, you will probably die from exposure, starvation, or both. So, you got a job. Congratulations! How much money are you getting on your check?</p>
					<br>
			<div class="resort">
				<form action="results.html" method="GET">
					<fieldset>
						<legend>Keyboard Inputs</legend>
						<p>State your name:  <input type="text" step="1" name="name"></p>
						<p>How many hours did you work THIS week?: <input type="number" step=".01" name="hours"/></p>
						<p>What is your rate of pay: <input type="number" step=".01" name="rate"/>
						<p>How much money do you need this week?: <input type="number" step=".01" name="rate"/>
						<p><iput type="submit" value="Calculate"/></p>


					</fieldset>

					<h2>Uncommon Knowledge</h2>
			<ul>
				<li>More money isn't taken away from your bonuses and overtime.</li>
				<li>Your total tax liability is determined by your tax bracket and your overall taxable income for the year.</li>
				<li>Why don't people understand this? Because they probably failed math.</li>
			</ul>
			</div>
						<br>
						<br>
						<br>

	</main>
		<footer>
			<br>
			<br>
			<br>
			&copy;me<br>
			<a href="mailto:slopez35@ivytech.edu:">slopez35@ivytech.edu</a><br>
			<div>
				<br>

				This page was last modified on: 
				<script>document.write(document.lastModified);</script>
			</div>
			<br>
			<a href="#top">Go to top of page</a>
		</footer>
	</div>
	</body>
</html>