<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Meet Me</title>
</head>
<body>
	<h2><p>Hello, my name is {name}.</h2><br>
<h3>I'm currently majoring in {major}.<br>
I live in {city}.<br>
For hobbies, I experiment with {hobby1} and {hobby2}.<br>
I have a few {pet}.<br>
I currently work at {job}.<br>
I've traveled to a few countries, including {country1}, {country2}, and {country3}.<br>
{experience}</h3></p>
Thanks for dropping by

</body>
</html>